<div class="space-y-2">
    <h3 class="font-medium">SIZE</h3>
    <div class="flex flex-wrap gap-2">
        <button *ngFor="let variant of variants" class="px-4 py-2 text-sm rounded" [ngClass]="{
        'border cursor-pointer': variant.available,
        'cursor-not-allowed': !variant.available,
        'border-black bg-black text-white': selectedVariant === variant.title && variant.available,
        'border-gray-200 hover:border-black': selectedVariant !== variant.title
      }" (click)="onSelectedVariant(variant)" [disabled]="!variant.available">
            {{ variant.title }}
        </button>
    </div>
</div>