<!-- Modal -->
<div *ngIf="open" class="fixed inset-0 z-50 flex items-center justify-center bg-black/75 bg-opacity-50">
    <div class="bg-white p-8 rounded-lg max-w-4xl w-full">
        <!-- Header del Modal -->
        <div class="relative mb-8">
            <h2 class="text-xl font-semibold">{{ product.title }}</h2>
            <button
                class="absolute right-4 top-4 h-8 w-8 rounded-full p-0 opacity-50 hover:opacity-100 hover:cursor-pointer"
                (click)="closeQuickview()" aria-label="Cerrar">
                <app-svg-icon iconName="x" class="size-5"></app-svg-icon>
                <span class="sr-only">Close icon</span>
            </button>
        </div>

        <div class="grid gap-8 pt-4 md:grid-cols-2">
            <!-- Galería de imágenes -->
            <div class="space-y-4">
                <app-image-viewer [media]="product.media"></app-image-viewer>
            </div>

            <!-- Información del producto -->
            <div class="space-y-6">
                <div>
                    <h2 class="text-3xl font-bold">{{ product.price | currency }}</h2>
                    <div class="mt-2">
                        <app-star-rating [rating]="4.3" [maxRating]="5" />
                    </div>
                </div>

                <!-- Selector de tallas -->
                <div class="space-y-2">
                    <app-size-selector [variants]="product.variants"></app-size-selector>
                </div>

                <!-- Control de cantidad -->
                <div class="space-y-2">
                    <app-choose-quantity></app-choose-quantity>
                </div>

                <!-- Botones de acción -->
                <div class="space-y-4">
                    <app-action-buttons></app-action-buttons>
                </div>

                <!-- Descripción y cuidados -->
                <div class="space-y-4 text-sm">
                    <p [innerHTML]="product.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>